<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Migrated from MediaGoblin</title>
</head>

<body>
	<h2>List of users:</h2>
	<ul>

	<TMPL_LOOP NAME=user_loop>
		<li><A HREF="u/<TMPL_VAR NAME=username>/"><TMPL_VAR NAME=username></A></li>
	</TMPL_LOOP>

	</ul>
</body>

</html>
